@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-primary-custom: #0a0a0a;
  --color-secondary-custom: #e5e5e5;
}

* {
  box-sizing: border-box;
}
